<!DOCTYPE html>
<html>
  <head>
    <title>API Quizz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API Quizz</h1>
    <p>Welcome to API Quizz></p>
  </body>
</html>
